<div class="input-group">
  <input type="text" name="title" class="form-control" placeholder="Board title...">
  <span class="input-group-btn">
    <input type="submit" class="btn btn-default" value="Create board!">
  </span>
</div>
