/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

#main {
  display: block;
  margin:auto;
  // width: 900px;
}

body {
  background-color: #0E74AF;
  color: #FFF;
}

.list-card {
  color: #4E4E4E;
  background-color: #fff;
  display: block;
  border-radius: 3px;
  margin-bottom: 6px;
  padding: 5px 10px;
  position: relative;
  border-bottom: thin solid #ccc;
}

.list-card:hover {
  background-color: #F2F4F6;
}

.list-card button {
  float: right;
}

.list-cards {
  background-color: #E2E4E6;
}

.board-item {
  color: #4E4E4E;
  background-color: #E2E4E6;
}

.board-item button{
  float: right;
}

.board-show-subheader h1{
  float: left;
  margin-top: 0px;
}

.board-show-subheader a {
  float: right;
  margin-top: 0px;
}

.in-page-form {
  display:block;
}

.boardList {
  margin-right: 2%;
  width: 32%;
  float:left;
}

.boardList:nth-child(3n) {
  margin-right: 0px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
